/* Primary Tokens */
:root {
  --white-cloud: #f6f6f6;
  --black-carbon: #181423;

  --brand-50: #f7f8ff;
  --brand-100: #e3e8ff;
  --brand-200: #d5ddff;
  --brand-300: #b0bbff;
  --brand-400: #939ff8;
  --brand-500: #6366f1;
  --brand-600: #585bda;
  --brand-700: #5051d0;
  --brand-800: #312e81;
  --brand-900: #262866;
  --brand-950: #1e1b4b;
}
