<div class="container mx-auto flex h-full flex-col items-center justify-center p-4">
  <div class="w-full">
    <div class="flex justify-center">
      <img src="/images/logo-horizontal.svg" alt="App logo" />
    </div>
    <h2 class="mt-8 text-center text-xl font-bold">
      Welcome {{ user?.username }} <span>{{ '👋' }}</span>
    </h2>
    <div class="mt-6 grid w-full grid-cols-3 gap-4">
      <a
        [routerLink]="['/meeting']"
        class="group cursor-pointer rounded border border-transparent bg-surface-default p-4 hover:border-border-primary hover:bg-surface-primary"
      >
        <div class="text-center group-hover:text-text-primary">
          <i class="material-icons-outlined block text-3xl group-hover:hidden"> videocam </i>
          <i class="material-icons hidden text-3xl group-hover:block"> videocam </i>
          <span class="mt-2 text-sm font-medium">Meeting</span>
        </div>
      </a>
      <a
        href="#"
        class="group cursor-pointer rounded border border-transparent bg-surface-default p-4 hover:border-border-primary hover:bg-surface-primary"
      >
        <div class="text-center group-hover:text-text-primary">
          <i class="material-icons-outlined block text-3xl group-hover:hidden"> mark_unread_chat_alt </i>
          <i class="material-icons hidden text-3xl group-hover:block"> mark_unread_chat_alt </i>
          <span class="mt-2 text-sm font-medium">Messages</span>
        </div>
      </a>
      <a
        [routerLink]="['/contacts']"
        class="group cursor-pointer rounded border border-transparent bg-surface-default p-4 hover:border-border-primary hover:bg-surface-primary"
      >
        <div class="text-center group-hover:text-text-primary">
          <i class="material-icons-outlined block text-3xl group-hover:hidden"> contacts </i>
          <i class="material-icons hidden text-3xl group-hover:block"> contacts </i>
          <span class="mt-2 text-sm font-medium">Manage contacts</span>
        </div>
      </a>
    </div>
  </div>
</div>